<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Judul Halaman -->
	<title>ReBook</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Root Multipurpose Landing Page Template">
	<meta name="keywords" content="Root HTML Template, Root Landing Page, Landing Page Template">
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen"
		href={{ url_for('static', filename='/css/webcam-demo.css') }}>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script
		src="{{ url_for('static', filename='/dist/webcam-easy.min.js') }}">
	</script>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700%7CRoboto:300,400,500%7CMuli:300,400"
		rel="stylesheet">

	<!-- Icon -->
	<!-- <link rel="shortcut icon"
		href="{{ url_for('static', filename='favicon.ico') }}"> -->

	<!-- CSS -->
	<link rel="stylesheet"
		href={{ url_for('static', filename='/css/bootstrap.min.css') }}
		type="text/css" media="all">
	<link rel="stylesheet"
		href={{ url_for('static', filename='/css/animate.css') }}
		type="text/css">
	<link rel="stylesheet"
		href={{ url_for('static', filename='/css/owl.carousel.css') }}
		type="text/css">
	<link rel="stylesheet"
		href={{ url_for('static', filename='/css/owl.theme.css') }}
		type="text/css">
	<link rel="stylesheet"
		href={{ url_for('static', filename='/css/magnific-popup.css') }}
		type="text/css">
	<link rel="stylesheet"
		href={{ url_for('static', filename='/css/ionicons.min.css') }}
		type="text/css">
	<link rel="stylesheet"
		href={{ url_for('static', filename='/css/style.css') }}
		type="text/css" media="all">

	<!--<link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css') }}  type="text/css"> -->

	<!-- JavaScript -->
	<!--<script src={{ url_for('static', filename='/js/jquery_3.6.0.min.js') }} ></script>
	<script src={{ url_for('static', filename='/js/bootstrap_3.4.1.min.js') }} ></script> -->

</head>

<body>

	<div class="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">ReBook</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a class="page-scroll" href="#main">Home</a></li>
						<li><a class="page-scroll" href="#features">Ambil Gambar</a></li>
						<li><a class="page-scroll" href="#features2">Upload Gambar</a></li>
						<!--<li><a class="page-scroll" href="#reviews">Reviews</a></li> -->
						<!-- <li><a class="page-scroll" href="#buy">Pricing</a></li> -->
						<li><a class="page-scroll" href="#kelompok">Kelompok</a></li>
						<li><a href="#buy" class="btn btn-nav page-scroll wow fadeInDown"
								data-wow-delay="0.3s"><span>Help</span></a></li>
					</ul>
				</div>
			</div>
		</nav><!-- /.navbar-collapse -->

		<div id="main" class="main main-2">
			<div class="hero-2">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-6">
							<div class="intro">
								<h1 class="wow fadeInDown" data-wow-delay="0.1s"><span>ReBook</span></h1>
								<p class="wow fadeInDown" data-wow-delay="0.2s">ReBook (Rekomendasi Ebook & Buku) adalah
									sebuah aplikasi berbasis website yang dapat memberikan Rekomendasi Buku dan Ebook
									berdasarkan emosi wajah dari pengguna. Jenis buku yang direkomendasikan terdiri dari
									6 jenis yaitu marah, bosan, malas, senang, sedih, dan terkejut.</p>
								<a href="#" class="btn btn-action btn-fb wow fadeInDown"
									data-wow-delay="0.3s"><span>Lebih Lanjut </span></a>
							</div>
						</div>
						<div class="col-md-7 col-sm-6">
							<img class="img-responsive" alt="Feature"
								src="{{ url_for('static',filename = 'images/hehe.png') }}"></img>
						</div>
					</div>
				</div>
			</div><!-- Pi-Hero --> <br> <br> <br> <br>


			<div id="features" class="features">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="features-text wow fadeInDown">
								<!-- <h2>Kami menyediakan layanan kamera untuk kebutuhan anda</h2> -->
								<h2> Ambil Gambar emosi wajahmu disini </h2>
								<!-- <p>Foto emosi anda akan kami ambil dan kami akan mengolahnya menjadi sebuah buku
									foto
									berwarna yang dapat anda gunakan untuk mengingat kenangan anda. ntahlah susah mikir nanti di edit lagi yawww</p> -->
									<p>Untuk mendapatkan rekomendasi buku yang sesuai dan untuk memudahkan anda dalam pengambilan gambar emosi wajah, kami menyediakan fitur kamera yang mudah digunakan </p>
								<button class="btn btn-primary btn-action" type="button"><span>Lebih Lanjut</span></button>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="features-image wow fadeInRight">
								<main id="webcam-app">
									<div class="form-control webcam-start" id="webcam-control">
										<label class="form-switch">
											<input type="checkbox" id="webcam-switch">
											<i></i>
											<span id="webcam-caption">Click to Start Camera</span>
										</label>
										<button id="cameraFlip" class="btn d-none"></button>
									</div>

									<div id="errorMsg" class="col-12 col-md-6 alert-danger d-none">
										Fail to start camera, please allow permision to access camera. <br />
										If you are browsing through social media built in browsers, you would need to
										open the page in
										Sarafi (iPhone)/ Chrome (Android)
										<button id="closeError" class="btn btn-primary ml-3">OK</button>
									</div>
									<div class="md-modal md-effect-12">
										<div id="app-panel" class="app-panel md-content row p-0 m-0">
											<div id="webcam-container" class="webcam-container col-12 d-none p-0 m-0">
												<video id="webcam" autoplay playsinline width="640"
													height="480"></video>
												<canvas id="canvas" class="d-none"></canvas>
												<div class="flash"></div>
												<audio id="snapSound"
													src="{{ url_for('static', filename='/audio/snap.wav') }}"
													preload="auto"></audio>
											</div>
											<div id="cameraControls" class="cameraControls">
												<a href="#" id="exit-app" title="Exit App" class="d-none"><i
														class="material-icons">exit_to_app</i></a>
												<a href="#" id="take-photo" title="Take Photo"><i
														class="material-icons">camera_alt</i></a>
												<a href="#" id="download-photo" download="selfie.png" target="_blank"
													title="Save Photo" class="d-none"><i
														class="material-icons">file_download</i></a>
												<a href="#" id="resume-camera" title="Resume Camera" class="d-none"><i
														class="material-icons">camera_front</i></a>
											</div>
										</div>
									</div>
									<div class="md-overlay"></div>
								</main>
							</div>
						</div>
					</div>
				</div>
			</div>



			<style>
				.input-file {
					padding: 30px;
					width: 300px;
					margin: 0 auto;
					background: #ffffff;
					-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.04);
					box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0);
				}

				.upload-img {
					border-radius: 100%;
					display: inline-block;
					width: 350px;
					height: 350px;
					object-fit: cover;
					object-position: 50% 50%;
					border: 3px solid #20e5bf;
					margin-right: 15px;
					vertical-align: middle;
				}

				.input-file-upload {
					position: relative;
					display: inline-block;
					vertical-align: middle;
				}

				.input-file-upload input[type="file"] {
					opacity: 0;
					padding: 10px 0;
					height: 36px;
					width: 150px;
				}

				.upload-label {
					width: 150px;
					height: 36px;
					background: #00c2cb;
					text-align: center;
					color: #ffffff;
					display: block;
					padding: 8px 0;
					position: absolute;
					line-height: normal;
					font-size: 14px;
					font-weight: 700;
					transition: all 0.3s ease-in-out;
				}

				.input-file-upload:hover .upload-label {
					color: #FFFFFF;
					border-color: #00c2cb;
					background: #00c2cb;
					-webkit-transform: translateY(-2px);
					-moz-transform: translateY(-2px);
					transform: translateY(-2px);
				}

				.submit {
					font-family: 'Nunito', sans-serif;
					border: none;
					width: 150px;
					height: 36px;
					background: #00c2cb;
					text-align: center;
					color: #ffffff;
					display: block;
					padding: 8px 0;
					margin-left: 200px;
					margin-top: -35.5px;
					line-height: normal;
					font-size: 14px;
					font-weight: 700;
					transition: all 0.3s ease-in-out;
				}

				.submit:hover {
					color: #FFFFFF;
					border-color: #00c2cb;
					background: #00c2cb;
					-webkit-transform: translateY(-2px);
					-moz-transform: translateY(-2px);
					transform: translateY(-2px);
				}
			</style>

			<div id="features2" class="features2">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="features2-text wow fadeInDown">
								<h2>Upload gambar emosi wajahmu disini</h2>
								<p>Untuk mendapatkan rekomendasi buku yang sesuai, harap inputkan gambarmu disini (tetap tenang karena inputan gambar tidak akan masuk ke sistem)</p>
								<button class="btn btn-primary btn-action" type="button"><span>Lebih Lanjut</span></button>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="features2-image wow fadeInRight">
								<form action="{{ url_for('after') }}" method='POST'
									enctype='multipart/form-data'>
									<div class="input-file">
										<img id="file_upload"
											src="{{ url_for('static',filename = 'images/insert_photo_here.jpg') }}"
											alt="Input Image" class="upload-img" />
										<div class="input-file-upload"> <br> <br>
											<span class="upload-label" style="font-family: Nunito;">Upload Image</span>
											<input required type='file' name="file1" onchange="readURL(this);" />
										</div>
										<input class="submit" style="position: relative;" type="submit"
											style="font-family: Nunito;" name="btn">
									</div>
									<!-- <input type="file" name='file1'> -->
									<!-- <input class="upload-label" type="submit" name="btn"> -->
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script>
				function readURL(input) {
					if (input.files && input.files[0]) {
						var reader = new FileReader();

						reader.onload = function (e) {
							$('#file_upload')
								.attr('src', e.target.result);
						};
						reader.readAsDataURL(input.files[0]);
					}
				}
			</script>


			<div id="kelompok" class="features-boxed">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="boxed-intro text-center wow fadeInDown">
								<h4>Kelompok Ular Satu Ukir Manfaat</h4>
								<h1>KULTUM</h1>
								<!-- <p>From development to the delivery of performance we don't compromise <br> at any level
									to make your
									products the best</p> -->
							</div>
						</div>
						<div class="col-md-3 col-sm-4 wow fadeInDown">
							<div class="box-inner">
								<div class="box-icon">
									<img alt="Feature"
										src="{{ url_for('static',filename = 'icons/icons8-backend-100.png') }}"
										width="100"></img>
								</div>
								<div class="box-info">
									<h1>Muhammad Alif Hidayatullah</h1>
									<p>Universitas Negeri Surabaya</p>
									<a href="https://github.com/muhammadalifh/"><i class="bi bi-github text mx-1"></i></a>
									<a href="https://www.instagram.com/__allf__/"><i class="bi bi-instagram text mx-1"></i></a>
									<a href="https://www.linkedin.com/in/muhammad-alif-hidayatullah-722261170"><i class="bi bi-linkedin text mx-1"></i></a>
								</div>
								<div class="box-arrow">
									<a href="#"><i class="ion-ios-arrow-thin-right"></i></a>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-4 wow fadeInDown">
							<div class="box-inner">
								<div class="box-icon">
									<img alt="Feature"
									src="{{ url_for('static',filename = 'icons/icons8-ui-design-100.png') }}"
									width="100"></img>

								</div>
								<div class="box-info">
									<h1>Nadea Putri Nur Fauzi</h1>
									<p>Institut Teknologi Telkom Purwokerto</p>
									<a href="https://github.com/nadeap/"><i class="bi bi-github text mx-1"></i></a>
									<a href="https://www.instagram.com/nadea.pnf/"><i class="bi bi-instagram text mx-1"></i></a>
									<a href="https://www.linkedin.com/in/nadeaputrinf/"><i class="bi bi-linkedin text mx-1"></i></a>
								</div>
								<div class="box-arrow">
									<a href="#"><i class="ion-ios-arrow-thin-right"></i></a>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-4 wow fadeInDown">
							<div class="box-inner">
								<div class="box-icon">
									<img alt="Feature"
										src="{{ url_for('static',filename = 'icons/icons8-ux-design-100.png') }}"
										width="100"></img>

								</div>
								<div class="box-info">
									<h1>Naovi Magfiroh</h1>
									<p>Politeknik Harapan Bersama</p>
									<a href="https://github.com/NaoviMagfiroh/"><i class="bi bi-github text mx-1"></i></a>
									<a href="https://www.instagram.com/naovimagfiroh29/"><i class="bi bi-instagram text mx-1"></i></a>
									<a href="https://www.linkedin.com/in/naovimagfiroh/"><i class="bi bi-linkedin text mx-1"></i></a>
								</div>
								<div class="box-arrow">
									<a href="#"><i class="ion-ios-arrow-thin-right"></i></a>
								</div>
							</div>
						</div>
						
						<div class="col-md-3 col-sm-4 wow fadeInDown">
							<div class="box-inner">
								<div class="box-icon">
									<img alt="Feature"
									src="{{ url_for('static',filename = 'icons/icons8-front-end-100.png') }}"
									width="100"></img>

								</div>
								<div class="box-info">
									<h1>Noor Rifki Budiarto</h1>
									<p>Politeknik Harapan Bersama</p>
									<a href="https://github.com/rifkibudiarto3"><i class="bi bi-github text mx-1"></i></a>
									<a href="https://www.instagram.com/rifkiibdrt_"><i class="bi bi-instagram text mx-1"></i></a>
									<a href="https://www.linkedin.com/in/noor-rifki-budiarto-330840246/"><i class="bi bi-linkedin text mx-1"></i></a>
								</div>
								<div class="box-arrow">
									<a href="#"><i class="ion-ios-arrow-thin-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-5">
							<div class="ft-left">
								<div class="footer-img">
									<img width="30" alt="Logo"
										src="{{ url_for('static',filename = 'icons/logo.png') }}"></img>
								</div>
								<p>ReBook (Aplikasi Rekomendasi Ebook & Buku)
								</p>
								<p>© copyright <span class="yearJS"></span> ReBook | All rights reserved</p>
							</div>
						</div>
						<script>
							window.addEventListener('DOMContentLoaded', (event) => {
								document.querySelector('.yearJS').innerHTML = new Date().getFullYear();
							})
						</script>
						<div class="col-sm-4 col-sm-offset-3">
							<div class="ft-right">
								<!-- <ul>
									<li><a href="#">About Us</a></li>
									<li><a href="#">Product Details</a></li>
									<li><a href="#">Pricing</a></li>
									<li><a href="#">Privacy policy</a></li>
									<li><a href="#">User Agreement</a></li>
									<li><a href="#">Contact</a></li>
								</ul> -->
							</div>
						</div>
					</div>
				</div>
			</div>


		</div> <!-- Main -->
	</div><!-- Wrapper -->


	<!-- Jquery and Js Plugins -->
	<script type="text/javascript"
		src="{{ url_for('static', filename='/js/jquery-2.1.1.js') }}">
	</script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='/js/app.js') }}">
	</script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='/js/jquery.validate.min.js') }}">
	</script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='/js/bootstrap.min.js') }}">
	</script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='/js/plugins.js') }}">
	</script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='/js/validator.js') }}">
	</script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='/js/custom.js') }}">
	</script>
</body>

</html>